

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');


body{
    
    background: rgb(25,26,36);
    background: linear-gradient(180deg, rgba(25,26,36,1) 0%, rgba(30,31,41,1) 42%, rgba(52,54,80,1) 100%);
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    background-image: url(images/bg-stars.svg);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {
    color: white;
    text-align: center;
    

}

p {
    color: hsl(237, 18%, 59%);
    text-align: center;
    font-weight: 100;
}

.timer{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.timer--box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: hsl(345, 62%, 57%);
    background-color: hsl(238, 10%, 52%);
    height: 65px;
    width: 65px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 5px 5px black;
    transition: 1s all;
}

.timer--box2{
    display: none;    
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: hsl(345, 62%, 57%);
    background-color: hsl(238, 10%, 52%);
    height: 65px;
    width: 65px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 5px 5px black;
    transition: 1s all;
}

.animacion-in{
    animation-duration: 1s;
    animation-name: in-flipTimer;
    display: flex;
}

.animacion-out{
    animation-duration: 1s;
    animation-name: out-flipTimer;
    display: none;
}
.confeti{
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(https://img1.picmix.com/output/stamp/thumb/3/4/8/4/1434843_2deda.gif);    
    background-repeat: no-repeat;    
    top: 6%;
    left: 19%;
}

footer {
    background-image: url(images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@keyframes in-flipTimer {
    from {
        transform: scaleY(-1);
        opacity: 0;
    }
  
    to {
        transform: scaleY(1);        
    } 
}
@keyframes out-flipTimer {
    from {
        transform: scaleY(1);
    }
  
    to {
        transform: scaleY(-1);
    } 
}

@media (min-width: 321px) {
    footer {
      height: 200px;
    }
    .confeti{
        top: 20%;
        left: 40%;
    }
  }
