

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

body{
    
    background: rgb(25,26,36);
    background: linear-gradient(180deg, rgba(25,26,36,1) 0%, rgba(30,31,41,1) 42%, rgba(52,54,80,1) 100%);
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    background-image: url(images/bg-stars.svg);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
}

h1 {
    color: #fff;
    font-size: 1.8rem;
    margin-top: 20vh;
    margin-bottom: 10vh;
}

p, label {
    color: hsl(237, 18%, 59%);
    text-align: center;
    font-weight: 100;
}

.timer{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.configTimer h1{
    margin-bottom: 1em;
    margin-top: 1em;
}
.configTimer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(25,26,36,1) 0%, rgba(30,31,41,1) 42%, rgba(52,54,80,1) 100%);
    padding: 1em;
    border-radius: 1em;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    box-sizing: border-box;
}

.configTimer form{
    max-width: 100%;
    background-image: url(images/bg-stars.svg);
}

.configTimer input{
    width: 100%;
    color:#fb6087;
    font-size: 2em;
    font-weight: 900;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
}

.configTimer input[type="submit"]{    
    background:#fb6087;
    color: #fff;    
    border: 0px;
    margin-top: 1em;
    cursor: pointer;
}

.front, .back {
    background-color: #343650;
    border-radius: 0.5rem;
    box-shadow: 0 0.65rem #191a24;
    color: #fb6087;
    display: block;
    font-size: 2rem;
    letter-spacing: normal;
    margin-bottom: 1.5rem;
    min-width: 2rem;
    overflow: hidden;
    position: relative;
    padding: 0.5rem;
}

.back{
    display: none;
}

.timer--box--top{
    background-color: rgba(0,0,0,.2);
    height: 50%;
    inset: 0;
    position: absolute;
    transition: .8s;
    width: 100%;
    text-align: center;
    padding-top: 1px;
    transition: 1s all;
}

.timer--box--bottom{
    display: block;
    text-align: center;
}

/* Redondas negras de los lados */
.timer--box--top:after, .timer--box--top:before {
    background-color: #191a24;
    border-radius: 1rem;
    bottom: -0.2rem;
    content: "";
    height: 0.5rem;
    position: absolute;
    right: -0.5rem;
    width: 1rem;
}

.timer--box--top:after {
    left: -0.5rem;
}

/* Animaciones */
.animacion-in{
    animation-duration: 1s;
    animation-name: in-flipTimer;
    display: flex;
}

.animacion-out{
    animation-duration: 1s;
    animation-name: out-flipTimer;
    display: none;
}
.confeti{
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    background-image: url(https://img1.picmix.com/output/stamp/thumb/3/4/8/4/1434843_2deda.gif);    
    background-repeat: no-repeat;    
    top: 6%;
    left: 19%;
}
/* Seccion del footer y colores */

a i { /* Enlaces a mis redes sociales */
    font-size: 2em;
    color: hsl(237, 18%, 59%);
}
a i:hover { /* Enlaces a mis redes sociales */    
    color:#fb6087;
}

footer {
    background-image: url(images/pattern-hills.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@keyframes in-flipTimer {
    from {
        transform: scaleY(-1);
        opacity: 0;
    }
  
    to {
        transform: scaleY(1);        
    } 
}
@keyframes out-flipTimer {
    from {
        transform: scaleY(1);
    }
  
    to {
        transform: scaleY(-1);
    } 
}

@media (min-width: 321px) {
    footer {
      height: 200px;
    }
    .confeti{
        top: 20%;
        left: 40%;
    }
}

/* Pantallas grandes*/
@media (min-width: 321px) {
    .front, .back {
        font-size: 3rem;        
    }
}
/* Medida tablets */
@media (min-width: 768px) {
    .front, .back {
        font-size: 5rem;
        min-width: 120px;
    }
}

/* Medida pantalla */
@media (min-width: 900px) {
    
    h1 {
        color: #fff;
        font-size: 2.8rem;
        margin-top: 20vh;
        margin-bottom: 10vh;
    }

    .front, .back {
        background-color: #343650;
        border-radius: 0.5rem;
        box-shadow: 0 0.65rem #191a24;
        color: #fb6087;
        display: block;
        font-size: 6rem;
        letter-spacing: normal;
        margin-bottom: 1.5rem;
        min-width: 11rem;
        overflow: hidden;
        padding: 1.5rem 0.8rem;
        position: relative;
    }

    .back{
        display: none;
    }

    /* Before y after de las tarjetas */
    .timer--box--top:after, .timer--box--top:before {
        background-color: #191a24;
        border-radius: 1rem;
        bottom: -0.5rem;
        content: "";
        height: 1rem;
        position: absolute;
        right: -0.5rem;
        width: 1rem;
    }

    .timer--box--top:after {
        left: -0.5rem;
    }

    /* Form pantalla grande */
    .configTimer input{
        width: 100%;
        padding: 1em;
        color:#fb6087;
        font-size: 2em;
        font-weight: 900;
        box-sizing: border-box;
        margin-bottom: 1em;
    }
        
}




/* Para moviles peques */
/*
@media screen and (max-width: 1000px){
    .card-number-top:after, .card-number-top:before {
        bottom: -0.25rem;
        height: 0.5rem;
        right: -0.25rem;
        width: 0.5rem;
    }
}
*/
@keyframes flip {
    from {
      transform: rotateX(180deg);
    }
    90% {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(0deg);
    }
  }